<ul id="messages">
	{{#each message}}
        <li>
    		<div class="avatar">
    			<img src={{image}} alt="头像" />
    			<p class="name">{{name}}</p>
    		</div>
    		<div class="chat">
                <p class="time">{{createdAt}}</p>
{{!--     			<span class="tan"></span> --}}
    			<p class="content">{{{content}}}</p>
    		</div>
	    </li>
    {{else}}
        <li class="users-in-out">好像之前没有聊天记录</li>
    {{/each}}
</ul>
<form class="m">
     <textarea id="m" autocomplete="off"></textarea><button>发送</button>
</form>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/layer/2.4/layer.min.js"></script>
<script src="http://cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>
<script src="/build/bundle.js"></script>